body {
  font-size: large;
  font-family: -webkit-pictograph;
  background-color: lavender;
}
h1 {
  color: burlywood;
  text-align: center;
}
h3 {
  text-align: center;
}
form {
  margin: auto;
  width: 35%;
  text-align: center;
  display: grid;
}
